@import url( 'fonts/freight/freight.css' );
@import url( 'fonts/gotham/gotham.css' );
body {
	margin: 0;
	font-family: 'Freight';
	font-size: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
}
h1 { width: 1px; height: 1px; visibility: hidden; position: absolute; top: -1000px; }
.container {
	position: relative;
	width: 1086px;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
header {
	position: fixed;
	width: 100%;
	height: 76px;
	padding: 25px 0;
	box-sizing: border-box;
	z-index: 10;
}
header .overlay {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	backdrop-filter: blur( 45.7px );
	-webkit-backdrop-filter: blur( 45.7px );
	background-color: #fff;
	opacity: 0.16;
}
header .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .container img { width: 200px; height: auto; max-width: 100%; }
header .container a {
	position: absolute;
	right: 0;
	font-family: "Gotham";
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}
main { overflow: hidden; }
section { width: 100%; position: relative; }
#home .floatInfo {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
	text-align: center;
	margin: 0 auto;
}
#home h2 {
	margin: 50px 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.16px;
}
.boton {
	width: 211px;
	height: 50px;
	border-radius: 25px;
	background-color: #6f83f3;
	color: #fff;
	font-family: "Gotham";
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.16px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s all;
}
.boton:hover { background-color: #fff; color: #6f83f3; }
#inspire h3 {
	line-height: 25px;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 0.5px;
	margin: 35px 0 27px;
	color: #FCF7F7;
	font-weight: normal;
}
#inspire h3 span {
	display: block;
	text-align: center;
	color: #6F83F3;
}
#inspire h2 {
	letter-spacing: 20px;
	font-size: 30px;
	text-transform: uppercase;
}
#inspire img { width: 100%; height: auto; }
#inspire .titleImg { width: 263px; max-width: 100%; }
#inspire .info { margin:-110px 0 25px; }
#inspire .info p {
	margin: 3px 0;
	font-style: italic;
	font-size: 23px;
	letter-spacing: 0.58px;
	color: #fcf7f7;
}
#inspire span.line {
	display: block;
	margin: 0 auto;
	width: 4px;
	background-color: #fff;
	height: 50px;
}
#inspire h3:last-child { font-style: normal; text-transform: uppercase; margin: 20px 0 50px; }
.mTop { margin-top: 50px; }
#agenda { background-image: radial-gradient( circle at 50% 50%, #333335, #000 70% ); }
#agenda video { margin: 50px 0; }
.filaTabla {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #6f83f3;;
	padding: 40px 0;
	box-sizing: border-box;
}
.filaTabla.noBorde { border-bottom: none; }
.filaTabla.head { border-bottom: none; padding: 10px 0; }
.filaTabla.head h2 {
	min-width: 60%;
	text-align: left;
	font-family: "Gotham";
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	color: #6f83f3;
}
.filaTabla.head a, .mobilePics a {
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.55px;
	padding: 8px;
	color: #fff;
	border-bottom: 1px solid #6f83f3;
	text-decoration: none;
}
.filaTabla div {
	text-align: left;
	min-width: 250px;
	font-size: 25px;
	color: #726f6f;
	letter-spacing: 0px;
}
.filaTabla div b {
	display: block;
	color: #fff;
	font-family: "Gotham";
	font-size: 20px;
	margin-top: 8px;
}
.filaTabla h3 {
	text-align: left;
	min-width: 260px;
	font-size: 35px;
	font-weight: normal;
	font-style: italic;
	color: #707070;
}
.filaTabla p {
	font-family: "Gotham";
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.18px;
	text-align: left;
	color: #707070;
	margin-left: 15px;
}
#agenda .dFlex {
	display: flex;
	align-items: center;
	margin: 30px 0;
}
#agenda .dFlex .mitad {
	min-width: 50%;
	width: 50%;
	text-align: left;
	box-sizing: border-box;
}
#agenda .dFlex .mitad.right { padding-left: 8%; text-align: center; }
#agenda .dFlex .mitad .boton { margin: 70px auto; }
.dFlexLogos {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.locationButton {
	display: block;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	background-image: url( '../images/location.svg' );
	background-position: center center;
	background-size: contain;
}
.locationButton:hover { background-image: url( '../images/location-hover.svg' ); }
#message { padding: 50px 0; }
#message h2 { font-size: 25px; letter-spacing: 0.25px; color: #707070; font-style: italic; font-weight: normal; }
#message h2 b { color: #fff; }
.pcPics { display: block; }
.mobilePics { display: none; text-align: left; }
.lineaBlue { height: 1px; width: 100%; background-color: #6f83f3; margin: 50px 0; }
video { width: 100%; height: auto; margin: 0; }
footer {
	background-color: #19191a;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	padding: 35px 0;
	font-family: 'Gotham';
	font-size:12px;
}
a{
	color:#FFF;
	text-decoration:none;
}
@media screen and ( max-width: 1150px ) {
	.container { padding: 0 15px }
	#inspire .info { margin: -85px 0 25px; }
}
@media screen and ( max-width: 980px ) {
	#agenda .dFlex { display: block; }
	#agenda .dFlex .mitad { min-width: initial; width: 100%; text-align: center; }
	#agenda .dFlex .mitad span { text-align: center; }
	#agenda .dFlex .mitad.right { padding-left: 0; }
	#agenda .dFlex .mitad.pcPics img { margin-bottom: 50px; }
}
@media screen and ( max-width: 920px ) {
	#inspire .info { margin: -60px 0 25px; }
}
@media screen and ( max-width: 800px ) {
	.filaTabla { display: block; padding: 20px; }
	.filaTabla.head h2 { text-align: center; }
	.filaTabla.head a { display: none; }
	.filaTabla div { font-size: 24px; }
	.filaTabla div b { font-size: 19px; }
	.filaTabla h3 { margin: 10px 0; font-size: 24px; }
	.filaTabla p { margin-left: 0; }
	.pcPics { display: none; }
	.mobilePics { display: block; }
	.mobilePics a { margin-bottom: 30px; }
	.mobilePics img { width: 100%; height: auto; margin-bottom: 50px; }
	#message { padding: 50px; box-sizing: border-box; }
	#message h2 { font-size: 22px; letter-spacing: 0.22px; }
	header .container a { font-size: 9px; right: 20px }
	header .container img { width: 150px; }
}
@media screen and ( max-width: 650px ) {
	#inspire .info p { font-size: 22px; }
	#inspire .info { margin: -45px 0 25px; }
}
@media screen and ( max-width: 500px ) {
	.dFlexLogos { width: 100%; display: block; text-align: center; }
	.dFlexLogos img { display: block; margin: 45px auto; }
	#inspire .info { margin: -15px 0 25px; }
}
